.ComboboxWrapper {
    //display: flex;
    //align-items: center;
    border-radius: 48px;
    //padding: 2px 16px;
    border: 2px solid var(--icon);
    //width: 100%;
    padding: 0;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.options {
    background: var(--dark-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    border: 2px solid var(--icon);
    box-shadow: 4px 4px 8px var(--dark-bg);
    max-height: 150px;
    overflow-y: auto;
}

.item {
    padding: 5px 10px;
}

.selected {
    background: var(--light-bg);
}
