.app_dark_theme {
    --dark-bg: #090F11;
    --bg: #0C1214;
    --light-bg: #151C1F;
    --text: #DBDBDB;
    --hint: #555555;
    --cancel: #D95757;
    --save: #6CD98B;
    --icon: #74A2B2;
    --accent: #5ED3F3;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #0d0d6b;

    // listbox
    --listbox-bg: #0d0d6b;
}
