:root {
    --dark-bg: #FFFFFF;
    --bg: #EFF5F6;
    --light-bg: #E2EEF1;
    --text: #141C1F;
    --hint: #ADBCC0;
    --cancel: #FF7777;
    --save: #62DE85;
    --icon: #5ED3F3;
    --accent: #00C8FF;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}
