.FeedBackCard {

}

.header {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
}

.loading {
    border: none;
}

.rating {
    min-width: 30px;
    min-height: 30px;
    border: 1px solid var(--accent);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
