.CommentCard {
    padding: 10px;
    border: 1px solid var(--accent);
}

.header {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
}

.loading {
    border: none;
}
